# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code
.vscode/

# Rider
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
packages/
.vs/

# Dotnet-specific
project.lock.json
project.fragment.lock.json
artifacts/

# Environment files
.env
.env.*